doctype html
html
    head
        title= title
    body
        h1= title
        a(href="/update-cobj") Add to this table  // Link to add new custom object

        if records.length
            table(border="1")
                thead
                    tr
                        th Property 1
                        th Property 2
                        th Property 3
                tbody
                    each record in records
                        tr
                            td= record.properties.property1 || 'N/A'
                            td= record.properties.property2 || 'N/A'
                            td= record.properties.property3 || 'N/A'
        else
            p No records found.
