doctype html
html
    head
        title= Dino Assets Table
    body
        h1= title
        a(href="/update-cobj") Create/Update Dino Assets

        if records.length
            table(border="1")
                thead
                    tr
                        th Dino Name
                        th Dino Paddock
                        th Dino dietary type
                tbody
                    each record in records
                        tr
                            td= record.properties.dino_name || 'N/A'
                            td= record.properties.dino_paddock || 'N/A'
                            td= record.properties.dino_dietary_type || 'N/A'
        else
            p No records found.
